body{
    border: 0;
    margin:0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
.user{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.align-right{
    text-align: right;
}
.logo{
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.nav ul{
    display: flex;
    list-style-type: none;
}
.nav-links{
    margin: 0 14px;
    color: brown;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 4px;
    display: flex;
}
.nav-links:hover{
    background-color: gray;
}
.email-btn{
    background-color: black;
    color: white;
    padding: 4px 12px;
    border-radius: 6px;
    text-decoration: none;
}
.email-btn:hover{
    background-color: rgb(171, 171, 171);
}
@media(min-width:700px){
    .header-container{
        width: 700px;
        /* background-color: lightgray; */
        margin: 50px auto;
        display: flex;
        align-items: center;
    }
    .w-50{
        width: 360px;
    }
    .nav{
        width: 700px;
        /* background-color: lightgray; */
        margin: 50px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media(max-width:700px){
    .header-container{
        width: 700px;
        background-color: lightgray;
        margin: 50px auto;
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
    }
    .w-50{
        width: 360px;
    }
    .nav{
        width: 700px;
        /* background-color: lightgray; */
        margin: 50px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-links{
        display: none;
    }
}